/* Boilerplate */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* Body Styles */
body {
    background: #3a3333;
    color: white;
}

/* Header Stuff */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    position: sticky;
    top: 0;
}

.mainTitle {
    font-size: 5rem;
    background-color: #222;
}

.navContainer {
    width: 100%;
}

.mainNav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navItem {
    width: 100%;
    font-size: 2.25rem;
    background: grey;
    text-align: center;
}

.navItem a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.navItem a:hover {
    background-color: darkgrey;
}

.navItem a:active {
    background-color: black;
    color: darkgrey;
}

.navItem:nth-child(n+1) a {
    border-left: 1px solid black;
}

/* Main Stuff */
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 95vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: end;
    margin-top: 0;
}

#home p,
#contact p {
    margin-top: 40vh;
    width: 60%;
}

article p {
    font-size: 3rem;
    text-align: center;
}

article a img {
    height: 100px;
    width: 200px;
}

.project-wrapper {
    margin-top: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-wrapper img {
    transform: rotate(-90deg)
}

.project-wrapper p {
    margin-left: 33vw;
}

#me p {
    margin-top: 0;
}

#me h2 {
    margin-top: 25vh;
    font-size: 3.2rem;
}

@media only screen and (min-width: 961px) {
    body {
        width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        width: 100%;
    }

    header {
        flex-direction: row;
    }

    .mainTitle {
        width: 40%;
        padding-left: 1rem;
    }

    .navContainer {
        align-self: flex-end;
    }
}

@media (prefers-reduced-motion: reduce) {
    main {
        scroll-behavior: auto;
    }
}
