/* Boilerplate */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/**** BODY STYLES ****/
body {
    background: #3a3333;
    color: white;
}

/**** HEADER STUFF ****/
header {
    align-items: center;
    background-color: #222;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.mainTitle {
    background-color: #222;
    font-size: 5rem;
}

.navContainer {
    width: 100%;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navItem {
    background: grey;
    font-size: 2.25rem;
    text-align: center;
    width: 100%;
}

.navItem a {
    color: black;
    display: block;
    text-decoration: none;
    width: 100%;
}

.navItem a:hover {
    background-color: darkgrey;
}

.navItem a:active {
    background-color: black;
    color: darkgrey;
}

.navItem:nth-child(n+1) a {
    border-left: 1px solid black;
}

/**** MAIN STUFF ****/
main {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    width: 100%;
}

/**** PAGES ****/
.page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-top: 0;
    scroll-snap-align: end;
    width: 100%;
}

#home::before,
#me::before,
#projects::before,
.projects-page-wrapper article:before {
    content: "";
    height: 103px;
    width: 200px;
}

article p {
    font-size: 3rem;
    text-align: center;
    width: 60%;
}

article a img {
    height: 10vh;
    width: 200px;
}

.project-wrapper,
.about-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.project-wrapper::before {
    content: "";
    height: 100px;
    width: 150px;
}

.project-wrapper img {
    transform: rotate(-90deg);
    height: 100px;
    width: 150px;
}

.about-wrapper {
    flex-direction: column;
}

/* Projects Redirect */
#projects h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
}

/* About Me Page */
#me p {
    margin-top: 1.5rem;
}

#me h2 {
    font-size: 3.2rem;
}

/* Contact Page */
#contact {
    justify-content: center;
}

#contact .socials {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-top: 1.5rem;
    width: 80%;
}

#contact .socials li {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

#contact .socials img {
    display: block;
    width: 100px;
    height: 100px;
}

#contact .socials li:first-of-type img {
    filter: invert(100%);
}

#contact p:last-child {
    font-size: 1rem;
}

#contact p a {
    color: white;
}

/**** PROJECTS ****/
/* Sidebar */
.sidebar {
    border-right: 2px solid grey;
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    width: 20vw;


}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar ul li {
    width: 100%;
}

.sidebar ul li a {
    align-items: center;
    border-bottom: 1px solid black;
    background-color: grey;
    color: black;
    display: flex;
    font-size: 2rem;
    height: 5vh;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.sidebar ul li a:hover {
    background-color: lightgrey;
}

.sidebar ul li a:active {
    background-color: black;
    color: lightgrey;
}

/* Projects */
.projects-page-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.projects-page-wrapper article {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    scroll-snap-align: end;
    width: 100%;
}

.projects-page-wrapper article p {
    margin: 2rem 0;
}

.projects-page-wrapper article h2 {
    font-size: 3rem;
}

.projects-page-wrapper article a {
    color: hsl(29, 54%, 61%);
    text-decoration: none;
}

.projects-page-wrapper article a:hover {
    text-decoration: underline;
}

.projects-page-wrapper article a:active {
    color: hsl(355, 65%, 65%);
}

.projects-page-wrapper .hidden {
    visibility: hidden;
}

.projects-center-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/**** QUERIES ****/
/* Text Overflow Prevention */
@media only screen and (max-width: 519px) {
    article p {
        font-size: 2rem;
    }

    #projects h2 {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 961px) {
    body {
        margin: 0 auto;
        width: 960px;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        width: 100%;
    }

    header {
        flex-direction: row;
    }

    .mainTitle {
        padding-left: 1rem;
        width: 40%;
    }

    .navContainer {
        align-self: flex-end;
    }

    #contact .socials {
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar {
        display: unset;
    }

    .projects-page-wrapper {
        margin-left: 20vw;
    }
}

@media (prefers-reduced-motion: reduce) {
    main {
        scroll-behavior: auto;
    }
}
